@import './base.css';

#app {
 
  
  

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  
}

.fondo {
  background-image: url(https://images6.alphacoders.com/542/thumbbig-542443.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
